body{
  background-image: url("../assets/BG.png");
}

.splash{
 padding: 10rem  10rem ;
 background-image: url("../assets/splash.jpg");
 background-size: cover;
 background-position: contain;
 background-repeat: no-repeat;
}
.title{
  font-size: 4rem;
  color: #fafafa;
  padding: 2rem 0;
  /*background:rgba(117, 110, 107, 0.5);*/
background-color:rgba(8, 56, 9, 0.5);
  min-width: 255px;
  border-radius: 10px;
}

.center{
  margin: 0 auto;
}

.padUp{
  padding-top: 2rem;
}
.padSides{
  padding-left: 1rem;
  padding-right: 1rem;
}

nav {

  font-size: 1.5rem;
  text-decoration: none;
  /*background:rgba(117, 110, 107, 0.5);*/
 background-color:rgba(8, 56, 9, 0.5);
  height: 390px;
  border-radius: 3px;
}

nav a:link {
  color:#460002;
  text-align: center;
  text-decoration: none;
  /*padding-top: 1.5rem;*/
  padding-bottom: 1.5rem;
}
nav a:hover {
    background-color:rgba(8, 56, 9, 0.5);
    border-radius: 50%;
    padding-top:1.5rem;
}
nav a:visited {
  color:darkgreen;
}
/*@media (min-width:420) {
    .splash{
      background-size: contain;
    }
}*/
.carousel {

   height:390px;
   background-color:rgba(8, 56, 9, 0.5);
   margin-top:10px;
   overflow: hidden;
   border-radius: 3px;
}

/*img.cat {
  bottom: 200px;
}*/
.carousel  img{
  position: relative;
  top:25px;
  bottom: 25px;
  /*height: 110%;*/
  width: auto;
  overflow: hidden;
  vertical-align: middle;
}
.testy{
  margin: auto 0;
}
.buff{
  /*background-color:rgba(117, 110, 107, 0.5);*/
   background-color:rgba(8, 56, 9, 0.5);
  border-radius: 3px;
  margin-bottom: 2.5rem;
}
h2{
  padding: 2rem 0;
  text-align: center;
  color: #460002;
}
.about {

  border-radius: 5px;
  /*height: 7rem;*/
  /*background-color:rgba(8, 56, 9, 0.5);*/
}
.about {
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
}
i{
  padding-right:  5rem;
}
  a:link.git{
  color:black;
  text-align: center;
  text-decoration: none;
  /*padding-top: 1.5rem;*/
  padding-bottom: 1.5rem;
}
a:hover.git  {
    color:rgba(8, 56, 9, 0.5);
}
 a:visited.git {
  color:darkgreen;
}
.readme{
  text-align: left;
  padding-top: 1rem;

}
.proj {

    padding-bottom: 1rem;
    text-align: center;
    color: #460002;
}
.bord{
  border: 1px solid #2d2d2d;
  border-radius: 8px;
  margin-bottom: 1rem;

}
